<div id="content">
  <div class="">
  <div class="card">
    <div class="card-header flex">
        <div class="col-md-4 font117 mr-auto"> Quản lý yêu cầu khám </div>
        <div class="col-md-4">
            <a routerLink="/addRequest"><button class="btn btn-success fl-r mt-03" type="button">Tạo lịch hẹn</button></a>
        </div>
        <div class="col-md-4 search-container ">
        <form action="">
            <input class="border" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
    </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
                <thead class=" text-head">
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Mã giáo viên</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Ngày hẹn khám</th>
                    <th scope="col">Ca khám</th>
                    <th scope="col">Thông tin</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Hẹn lại</th>
                    <th scope="col">Khám</th>
                    <th scope="col">Hủy lịch</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark Otto</td>
                        <td>A121</td>
                        <td>Nam</td>
                        <td>1234567890</td>
                        <td>23/5/2019</td>
                        <td>Sáng</td>
                        <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                        <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                        <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                        <td><a routerLink="/Hosokham"><button class="btn2"><i class="fa fa-medkit medkit"></i></button></a></td> 
                        <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                    </tr>
                    <tr>
                        <td>Mark Otto</td>
                        <td>A121</td>
                        <td>Nam</td>
                        <td>1234567890</td>
                        <td>23/5/2019</td>
                        <td>Sáng</td>
                        <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                        <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                        <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                        <td><a routerLink="/Hosokham"><button class="btn2"><i class="fa fa-medkit medkit"></i></button></a></td> 
                        <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                    </tr>
                    <tr>
                        <td>Mark Otto</td>
                        <td>A121</td>
                        <td>Nam</td>
                        <td>1234567890</td>
                        <td>23/5/2019</td>
                        <td>Sáng</td>
                        <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                        <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                        <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                        <td><a routerLink="/Hosokham"><button class="btn2"><i class="fa fa-medkit medkit"></i></button></a></td> 
                        <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                    </tr>
            
                </tbody>  
          </table>
    
    </div>
    </div>
    </div>

    <div class="inline"></div>
    <div class="card">
        <div class="card-header flex">
            <div class="col-md-8 font117 mr-auto"> Quản lý yêu cầu khám </div>
            <div class="col-md-4 search-container ">
            <form action="">
                <input class="border" type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>
        </div>
   <div class="card-body">
          <section id="tabs">
                  <div>
                      <div class="row">
                          <div class="col-md-12">
                              <nav>
                                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Danh sách yêu cầu khám</a>
                                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Lịch sử cuộc hẹn</a>
                                  </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active table-responsive" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                      <table class="table tablesorter " id="">
                                          <thead class=" text-head">
                                              <th scope="col">Họ và tên</th>
                                              <th scope="col">Mã giáo viên</th>
                                              <th scope="col">Giới tính</th>
                                              <th scope="col">Số điện thoại</th>
                                              <th scope="col">Ngày hẹn khám</th>
                                              <th scope="col">Ca khám</th>
                                              <th scope="col">Thông tin</th>
                                              <th scope="col">Mô tả</th>
                                              <th scope="col">Hẹn lại</th>
                                              <th scope="col">Chấp nhận</th>
                                              <th scope="col">Hủy lịch</th>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>Mark Otto</td>
                                                  <td>A121</td>
                                                  <td>Nam</td>
                                                  <td>1234567890</td>
                                                  <td>23/5/2019</td>
                                                  <td>Sáng</td>
                                                  <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                                  <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                                  <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                                                  <td><button class="btn4"><i class="fa fa-check check2"></i></button></td>
                                                  <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                                              </tr>
                                              <tr>
                                                  <td>Mark Otto</td>
                                                  <td>A121</td>
                                                  <td>Nam</td>
                                                  <td>1234567890</td>
                                                  <td>23/5/2019</td>
                                                  <td>Sáng</td>
                                                  <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                                  <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td>  
                                                  <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                                                  <td><button class="btn4"><i class="fa fa-check check2"></i></button></td>
                                                  <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                                              </tr>
                                              <tr>
                                                  <td>Mark Otto</td>
                                                  <td>A121</td>
                                                  <td>Nam</td>
                                                  <td>1234567890</td>
                                                  <td>23/5/2019</td>
                                                  <td>Sáng</td>
                                                  <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                                  <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                                  <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                                                  <td><button class="btn4"><i class="fa fa-check check2"></i></button></td>
                                                  <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                                              </tr>
                                              <tr>
                                                  <td>Mark Otto</td>
                                                  <td>A121</td>
                                                  <td>Nam</td>
                                                  <td>1234567890</td>
                                                  <td>23/5/2019</td>
                                                  <td>Sáng</td>
                                                  <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                                  <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                                  <td><a routerLink="/Henlai"><button class="btn1"><i class="fa fa-calendar meet2"></i></button></a></td>
                                                  <td><button class="btn4"><i class="fa fa-check check2"></i></button></td>
                                                  <td><button class="btn3"><i class="fa fa-calendar-times cancle"></i></button></td> 
                                              </tr>
                                      
                                          </tbody>
                                      </table>
                          </div>
                          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                  <table class="table tablesorter " id="">
                                      <thead class=" text-head">
                                          <th scope="col">Họ và tên</th>
                                          <th scope="col">Mã giáo viên</th>
                                          <th scope="col">Giới tính</th>
                                          <th scope="col">Số điện thoại</th>
                                          <th scope="col">Ngày hẹn khám</th>
                                          <th scope="col">Ca khám</th>
                                          <th scope="col">Thông tin</th>
                                          <th scope="col">Mô tả</th>
                                          <th scope="col">Hồ sơ</th>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td>Mark Otto</td>
                                          <td>A121</td>
                                          <td>Nam</td>
                                          <td>1234567890</td>
                                          <td>23/5/2019</td>
                                          <td>Sáng</td>
                                          <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                          <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                          <td><a routerLink="/Hosokham"><button class="btn2"><i class="fa fa-heartbeat medkit"></i></button></a></td> 
                                      </tr>
                                      <tr>
                                          <td>Mark Otto</td>
                                          <td>A121</td>
                                          <td>Nam</td>
                                          <td>1234567890</td>
                                          <td>23/5/2019</td>
                                          <td>Sáng</td>
                                          <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                          <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                          <td><button class="btn2"><i class="fa fa-heartbeat medkit"></i></button></td> 
                                      </tr>
                                      <tr>
                                          <td>Mark Otto</td>
                                          <td>A121</td>
                                          <td>Nam</td>
                                          <td>1234567890</td>
                                          <td>23/5/2019</td>
                                          <td>Sáng</td>
                                          <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                          <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                          <td><button class="btn2" ><i class="fa fa-heartbeat medkit"></i></button></td> 
                                      </tr>
                                      <tr>
                                          <td>Mark Otto</td>
                                          <td>A121</td>
                                          <td>Nam</td>
                                          <td>1234567890</td>
                                          <td>23/5/2019</td>
                                          <td>Sáng</td>
                                          <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                          <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                          <td><button class="btn2"><i class="fa fa-heartbeat medkit"></i></button></td> 
                                      </tr>
                                      <tr>
                                          <td>Mark Otto</td>
                                          <td>A121</td>
                                          <td>Nam</td>
                                          <td>1234567890</td>
                                          <td>23/5/2019</td>
                                          <td>Sáng</td>
                                          <td><img src="/assets/img/header.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Khám nội tổng quát, Siêu âm"></td> 
                                          <td><img src="/assets/img/comments.png" data-placement="bottom" class="ttkham" data-toggle="tooltip" title="Mô tả bệnh của giáo viên cần khám 1"></td> 
                                          <td><button class="btn2"><i class="fa fa-heartbeat medkit"></i></button></td> 
                                      </tr>    
                                  
                                      </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="line_20"> </div>
          <div class="pagination">
              <a href="#">&laquo;</a>
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">&raquo;</a>
          </div>
              </section>
              
</div>

</div>

