<div id="content">


  <div class="section-view">


    <nav class="navbar topnav marb-10">
      <form class="card-body card no-padding">

        <div class="form-group row no-margin">
          <div class="col-md-6">
            <label for="staticEmail" class="col-md-4 col-form-label auto-w">Họ tên :</label>
            <input type="text" readonly class=" col-form-label auto-w no-margin" id="staticEmail" value="Mark Otto">
          </div>

          <div class="col-md-6">
            <label for="staticEmail" class="col-md-4 col-form-label auto-w">Mã hồ sơ :</label>
            <input type="text" readonly class=" col-form-label auto-w no-margin" id="staticEmail" value="1234">
          </div>
        </div>

        <div class="form-group row no-margin">
          <div class="col-md-6">
            <label for="staticEmail" class="col-md-4 col-form-label auto-w">Mã giáo viên :</label>
            <input type="text" readonly class=" col-form-label auto-w no-margin" id="staticEmail" value="A121">
          </div>

          <div class="col-md-6">
            <label for="staticEmail" class="col-md-4 col-form-label auto-w">Ngày khám :</label>
            <input type="date" readonly class=" col-form-label auto-w no-margin" id="staticEmail" value="2016-11-20">
          </div>
        </div>

      </form>
    </nav>
    <div class="line_20"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light topnav marb-10">
      <div class="container-fluid">

        <li class="nav-item list-item">
          <a href="/Xetnghiemmau">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
              <i class="fas fa fa-tint"></i>
              <span> Hồ sơ Xét nghiệm máu cơ bản</span>
            </button>
          </a>
        </li>


        <li class="nav-item list-item">
          <a href="sieuam.html">
            <button type="button" id="sidebarCollapse" class="btn btn-warning">
              <i class="fas fa fa-assistive-listening-systems"></i>
              <span> Hồ sơ Siêu âm</span>
            </button>
          </a>
        </li>


        <li class="nav-item list-item">
          <a href="x-quang.html">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa fa-user-circle"></i>
              <span> Hồ sơ Chụp X-Quang phổi</span>
            </button>
          </a>
        </li>
        <li class="nav-item list-item"></li>
        <li class="nav-item list-item"></li>


      </div>
    </nav>

    <form class="card-body card">


      <div class="border-gray2">
        <div class="form-row">
          <div class="col-md-3 mb-2 mr-2 font12">Chỉ số sơ bản</div>
          <div class="col-md-3 mb-2 mr-2"><button class="btn btn-success">Nhập thông tin từ thiết bị</button></div>
        </div>
        <div class="line_20"></div>

        <div class="form-row">
          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Mắt trái</label>
            <div class="input-group">
              <input type="number" class="form-control" name="quantity" min="0" max="10" id="validationDefault01"
                placeholder="Mắt trái" value="" required>
              <div class="input-group-append">
                <span class="input-group-text">/ 10</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Mắt phải</label>
            <div class="input-group">
              <input type="number" class="form-control" name="quantity" min="0" max="10" id="validationDefault01"
                placeholder="Mắt phải" value="" required>
              <div class="input-group-append">
                <span class="input-group-text">/ 10</span>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">
          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Chiều cao</label>
            <div class="input-group">
              <input type="number" class="form-control" min="0" id="validationDefault01" placeholder="Chiều cao"
                value="" required>
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Cân nặng</label>
            <div class="input-group">
              <input type="number" class="form-control" min="0" id="validationDefault01" placeholder="Cân nặng" value=""
                required>
              <div class="input-group-append">
                <span class="input-group-text">kg</span>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3 mr-2">
            <label for="validationDefault01">BMI</label>
            <div class="input-group">
              <input type="number" class="form-control" min="0" id="validationDefault01" placeholder="BMI" value=""
                required>
            </div>
          </div>



        </div>

        <div class="form-row">

          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Mạch</label>
            <div class="input-group">
              <input type="number" class="form-control" min="0" id="validationDefault01" placeholder="Mạch" value=""
                required>
              <div class="input-group-append">
                <span class="input-group-text">lần/phút</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3 mr-2">
            <label for="validationDefault01">Huyết áp</label>
            <div class="input-group">
              <input type="number" class="form-control" min="0" id="validationDefault01" placeholder="Huyết áp" value=""
                required>
              <div class="input-group-append">
                <span class="input-group-text">mmHg</span>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3 mr-2">
            <label for="validationDefault01">Phân loại thể lực</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Phân loại thể lực" value=""
              required>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationDefault01">Mô tả</label>
          <textarea class="form-control" aria-label="Mô tả"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationDefault01">Kết luận</label>
          <textarea class="form-control" aria-label="Mô tả"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationDefault01">Kết luận bệnh mắc phải</label>
          <select class="form-control" name="select_projects" id="select_projects">
            <option value="">Bình thường</option>
            <optgroup label="Loại bệnh 1">
              <option value="">Bệnh 1</option>
            </optgroup>
            <optgroup label="Loại bệnh 2">
              <option value="">Bệnh 3</option>
              <option value="">Bệnh 4</option>
              <option value="">Bệnh 5</option>
              <option value="">Bệnh 6</option>
            </optgroup>
            <optgroup label="Loại bệnh 3">
              <option value="">Bệnh 7</option>
              <option value="">Bệnh 8</option>
              <option value="">Bệnh 9</option>
              <option value="">Bệnh 10</option>
            </optgroup>
            <option value="">Không xác định</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="inputState">Trạng thái</label>
          <select id="inputState" class="form-control">
            <option selected>Trạng thái 1</option>
            <option>Trạng thái 2</option>
            <option>Trạng thái 3</option>
          </select>
        </div>
      </div>
      <div class="line_20"> </div>


      <div class="form-row">
        <div class="col-md-12 mb-3 al_r">
          <button class="btn btn-light" type="button">Trở lại</button>
          <button class="btn btn-success mar-left-05" type="submit">Lưu</button>
        </div>
      </div>
    </form>



  </div>
</div>