<div id="content">
     
  <div class="">
  <div class="card ">
  <div class="card-header">
    <div class="font117"> Tạo mới hồ sơ khám </div>
  </div>
   <div class="card-body">
    <div class="table-responsive">
      <form [formGroup]="userInfo">
        
          <div class="form-row">
              <div class="col-md-3 mb-2 font117">
                <label for="validationDefault02">Bước 1 : Tìm kiếm thông tin</label>
              </div>
          </div>
          <div class="border-gray2 mb-4">
          <div class="form-row mar-left-05">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Nhập mã giáo viên : </label>
            </div>
            
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" formControlName="code" placeholder="Mã giáo viên" value="" required>
            </div>
            <div class="col-md-1 mb-3">
              </div>
            <div class="col-md-3 mb-3">
            <button class="btn btn-info" type="button" (click)="getUser()">Kiểm tra</button>
          </div>
          <div style="color: red"> {{message}}</div>
          </div>
        </div>
          <div class="form-row">
              <div class="col-md-4 mb-2 font117">
                <label for="validationDefault02">Bước 2 : Kiểm tra thông tin cá nhân</label>
              </div>
          </div>
        
          <div class="border-gray2 mb-4">
           <div class="form-row mar-left-05"  >
             
              <div class="col-md-3 mb-3">
                  <label for="validationDefault03">Họ và tên</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="" value="Mark Otto" readonly required>
                </div>
             <div class="col-md-3 mb-3">
              <label for="inputState">Giới tính</label>
              <input type="text" class="form-control" formControlName="gender"  placeholder="" value="Nam" readonly required>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault03">Ngày sinh</label>
              <input type="date" class="form-control" formControlName="birthday" placeholder=""  readonly required>
            </div>
            
          </div>
          <div class="form-row mar-left-05">
              
             <div class="col-md-4 mb-3">
              <label for="inputState">Bộ môn</label>
              <input type="text" class="form-control" formControlName="bo_mon" placeholder="" value="Bộ môn 1" readonly required>
            </div>
          </div>
          </div>
          </form>
          <form [formGroup]="examInfo" (submit)="onSubmit()">
          <div class="form-row">
              <div class="col-md-3 mb-2 font117">
                <label for="validationDefault02">Bước 3 : Thông tin hồ sơ khám</label>
              </div>
          </div>
          <div class="border-gray2 mb-4">
            <div class="form-row">
              <div class="col-md-3 mb-2 mr-2 font12">Chỉ số sơ bản</div>
              <div class="col-md-3 mb-2 mr-2"><button class="btn btn-success" type="button" (click)="getExamInfo()">Nhập thông tin từ thiết bị</button></div>
            </div>
                <div class="line_20"></div>
          
              <div class="form-row">
                <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Mắt trái</label>
                    <div class="input-group">
                      <input type="number" class="form-control" formControlName="leftEyeIndex" min="0" max="10"  placeholder="Mắt trái" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">/ 10</span>
                      </div>
                    </div>
                </div>
          
                <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Mắt phải</label>
                    <div class="input-group">
                      <input type="number" class="form-control" formControlName="rightEyeIndex" min="0" max="10"  placeholder="Mắt phải" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">/ 10</span>
                      </div>
                    </div>
                </div>
             
              </div>
          
          
              <div class="form-row">
                <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Chiều cao</label>
                    <div class="input-group">
                      <input type="number" class="form-control" min="0" formControlName="height" placeholder="Chiều cao" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">cm</span>
                      </div>
                    </div>
                </div>
          
                <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Cân nặng</label>
                    <div class="input-group">
                      <input type="number" class="form-control" min="0" formControlName="weight" placeholder="Cân nặng" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">kg</span>
                      </div>
                    </div>
                </div>
          
                <div class="col-md-2 mb-3 mr-2">
                    <label for="validationDefault01">BMI</label>
                    <div class="input-group">
                      {{this.examInfo.controls.weight.value/(this.examInfo.controls.height.value*this.examInfo.controls.height.value)/10000}}
                    </div>
                </div>
             
            
          
              </div>
          
            <div class="form-row">
          
                  <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Mạch</label>
                    <div class="input-group">
                      <input type="number" class="form-control" min="0" formControlName="heart_rate" placeholder="Mạch" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">lần/phút</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mr-2">
                    <label for="validationDefault01">Huyết áp</label>
                    <div class="input-group">
                      <input type="number" class="form-control" min="0" formControlName="blood_pressure"  placeholder="Huyết áp" value="" required>
                      <div class="input-group-append">
                    <span class="input-group-text">mmHg</span>
                      </div>
                    </div>
                </div>
          
                 <div class="col-md-4 mb-3 mr-2">
                    <label for="inputState">Phân loại thể lực</label>
                    <select class="form-control" formControlName="heath_class">
                      <option selected value="Khỏe mạnh">Khỏe mạnh</option>
                      <option value="Mắc bệnh thông thường">Mắc bệnh thông thường</option>
                      <option value="Sức khỏe kém">Sức khỏe kém</option>
                      <option value="Có vấn đề sức khỏe nghiêm trọng">Có vấn đề sức khỏe nghiêm trọng</option>
                    </select>
                    </div>
                </div>
           
          
          
          <div class="form-row ">
            <div class="col-md-8 mb-3">
              <label for="validationDefault01">Mô tả</label>
              <textarea class="form-control" aria-label="Mô tả" formControlName="descrip"></textarea>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefault01">Kết luận</label>
              <textarea class="form-control" aria-label="Mô tả" formControlName="conclude"></textarea>
            </div>
          </div>
        </div>
            
            
        
            <div class="col-md-12 mb-3 al_r">
                
                  <button class="btn btn-light" type="button">Hủy bỏ</button>
               
                  <button class="btn btn-success mar-left-05" type="submit">Tạo mới</button>
              
            </div>
        
      </form>

  </div>
</div>
</div>
</div>
