<div class="login-clean" style="padding:60px;">
  <form action="Login" method="post" style="height:543px;">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><img src="assets/img/LogoTLU.png" style="width:244px;margin:0px;height:244px;"></div>
    <div class="form-group"><input class="form-control" id="username" type="username" name="username"
        placeholder="Username"></div>
    <div class="form-group"><input class="form-control" id="password" type="password" name="password"
        placeholder="Password"></div>
    <p style="color: red;"></p>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Đăng nhập</button></div><a href="#"
      class="forgot">Quên mật khẩu ?</a>
  </form>
</div>