<div id="content">
  <div class="section-view">
    <nav class="navbar navbar-expand-lg navbar-light bg-light topnav">
      <div class="container-fluid">

        <li class="nav-item list-item">
          <a routerLink="/addRecord">
            <button type="button" id="sidebarCollapse" class="btn btn-success">
              <i class="fas fa fa-plus"></i>
              <span>Thêm hồ sơ khám</span>
            </button>
          </a>
        </li>


        <li class="nav-item list-item">
          <div class="search-container">
            <form action="#">
              <input class="border" type="text" placeholder="Search.." [(ngModel)]="searchText" name="searchText">
            </form>
          </div>
        </li>


        <li class="nav-item list-item">
          <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="setFilter('')">
            <i class="fas fa-align-left"></i>
            <span>Danh sách tất cả hồ sơ</span>
          </button>
        </li>
      </div>
    </nav>

    <div class="inviline_20"></div>


    <div class="card card-body">
      <div class="card-header">
        <h4> Danh sách Hồ sơ khám bệnh</h4>
        <p style="color: red;"></p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-head">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Mã giáo viên</th>
                <th scope="col">Mã hồ sơ</th>
                <th scope="col">Ngày khám</th>
                <th scope="col">Lí do khám</th>
                <th scope="col">Chi tiết</th>
                <th scope="col">Hồ sơ khám người dùng</th>
              </tr>
            </thead>
            <tbody *ngIf="listData">
             <tr *ngFor="let item of listData | customPipe: { name: searchText, code: searchText, date:searchText, reason:searchText}  | paginate: { itemsPerPage: 8, currentPage: p}; index as i; trackBy: trackByFn ">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.id}}</td>
              <td>{{item.date}}</td>
              <td>{{item.reason}}</td>
              <td><button class="btn2" routerLink="/record/{{item.id}}"><i class="fa fa-heartbeat medkit"></i></button></td>
              <td><button class="btn4" routerLink="/userRecords/{{item.idUser}}"><i class="fa fa-heartbeat medkit"></i></button></td>
             </tr>
            </tbody>
          </table>
        </div>
        <div class="line_20"> </div>
        <div class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>