<div id="content">

  <div class="section-view">
    <nav class="navbar navbar-expand-lg navbar-light bg-light topnav">
      <div class="container-fluid">

        <li class="nav-item list-item">
          <a routerLink="/addUser">
            <button type="button" id="sidebarCollapse" class="btn btn-success">
              <i class="fas fa fa-plus"></i>
              <span> Thêm giáo viên</span>
            </button>
          </a>
        </li>



        <li class="nav-item list-item">
          <div class="dropdown show above">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bộ môn
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" *ngFor="let item of listBomon" (click)="setFilter(item.name)">{{item.name}}</a>
            </div>
          </div>
        </li>

        <li class="nav-item list-item">
          <div class="search-container">
            <form action="#">
              <input class="border" type="text" placeholder="Search.." [(ngModel)]="searchText" name="searchText">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>


        <li class="nav-item list-item">
          <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="setFilter('')">
            <i class="fas fa-align-left"></i>
            <span> Danh sách tất cả giáo viên</span>
          </button>
        </li>
      </div>
    </nav>
    <div class="card boxes">
      <div class="card-header">
        <h4> Danh sách giáo viên </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-head">
              <th scope="col">Họ và tên</th>
              <th scope="col">Mã giáo viên</th>
              <th scope="col">Giới tính</th>
              <th scope="col">Ngày sinh</th>
              <th scope="col">Bộ môn</th>
              <th scope="col">Hồ sơ chi tiết</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of listUsers | customPipe: { name: searchText, code: searchText, bo_mon:searchText}  | paginate: { itemsPerPage: 8, currentPage: p}; index as i; trackBy: trackByFn ">
                <td>{{user.name}}</td>
                <td>{{user.code}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.bo_mon}}</td>
                <td><button class="btn5" routerLink="/userRecords/{{user.id}}"><i class="fa fa-address-card medkit"></i></button></td>
                
              </tr>
              

            </tbody>
          </table>

          <div class="line_20"> </div>
          <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>