<div id="content">

  <div class="section-view">
    <div class="card ">
      <div class="card-header">
        <div class="font117"> Đăng ký khám </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form>

            <div class="form-row">
              <div class="col-md-3 mb-2 font117">
                <label for="validationDefault02">Bước 1 : Tìm kiếm thông tin</label>
              </div>
            </div>
            <div class="border-gray2 mb-4">
              <div class="form-row mar-left-05">
                <div class="col-md-2 mb-3">
                  <label for="validationDefault02">Nhập mã giáo viên : </label>
                </div>

                <div class="col-md-3 mb-3">
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Mã giáo viên" value=""
                    required>
                </div>
                <div class="col-md-1 mb-3">
                </div>
                <div class="col-md-3 mb-3">
                  <button class="btn btn-info" type="submit">Kiểm tra</button>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-2 font117">
                <label for="validationDefault02">Bước 2 : Kiểm tra thông tin cá nhân</label>
              </div>
            </div>

            <div class="border-gray2 mb-4">
              <div class="form-row mar-left-05">

                <div class="col-md-3 mb-3">
                  <label for="validationDefault03">Họ và tên</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="" value="Mark Otto"
                    readonly required>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="inputState">Giới tính</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="" value="Nam" readonly
                    required>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault03">Ngày sinh</label>
                  <input type="date" class="form-control" id="validationDefault02" placeholder="" value="1986-03-12"
                    readonly required>
                </div>

              </div>
              <div class="form-row mar-left-05">

                <div class="col-md-4 mb-3">
                  <label for="inputState">Bộ môn</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="" value="Bộ môn 1"
                    readonly required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputState">Khoa</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="" value="Khoa 1"
                    readonly required>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-2 font117">
                <label for="validationDefault02">Bước 3 : Thông tin khám</label>
              </div>
            </div>
            <div class="border-gray2 mb-4">
              <div class="form-row mar-left-05">
                <div class="col-md-3 mb-4">
                  <label for="validationDefault03">Đăng ký ngày khám</label>
                  <input type="date" class="form-control" id="validationDefault02" placeholder="" value="" required>
                </div>


                <div class="col-md-3 mb-4">
                  <label for="inputState">Ca khám</label>
                  <select id="inputState" class="form-control">
                    <option selected>Ca sáng (8h - 10h30)</option>
                    <option>Ca chiều (13h - 16h)</option>
                    <option>Khám ngoài giờ (Liên hệ)</option>
                  </select>
                </div>
              </div>
              <div class="form-row mar-left-05">

                <label for="">Chọn hình thức khám</label>
              </div>
              <div class="form-row mar-left-05">
                <div class="col-md-3 boxes">

                  <input type="checkbox" id="box-1" checked disabled>
                  <label for="box-1">Khám nội tổng quát</label>

                  <input type="checkbox" id="box-2">
                  <label for="box-2">Xét nghiệm máu cơ bản</label>

                  <input type="checkbox" id="box-3">
                  <label for="box-3">Siêu âm</label>

                  <input type="checkbox" id="box-4">
                  <label for="box-4">Chụp X-Quang phổi</label>
                </div>

                <div class="col-md-1 boxes">
                  <img src="/assets/img/information.png" data-placement="right" class="info-icon" data-toggle="tooltip"
                    title="Kiểm tra huyết áp, cân nặng, chiều cao, nội tiêu hóa, nội hô hấp; nội thần kinh; nội nội tiết; nội cơ xương khớp; dịch vụ khám và tầm soát nguy cơ ung thư…  có thể lựa chọn dịch vụ khám cụ thể. Chi phí : 200.000.vnđ"
                    aria-describedby="tooltip84459">
                  <img src="/assets/img/information.png" data-placement="right" class="info-icon" data-toggle="tooltip"
                    title="Xét nghiệm công thức máu, đường máu, mỡ máu, men gan… | Chi phí : 120.000. vnđ"
                    aria-describedby="tooltip84459">
                  <img src="/assets/img/information.png" data-placement="right" class="info-icon" data-toggle="tooltip"
                    title="Thăm khám các bệnh lý như: u, viêm, dị dạng...tại các vị trí như ổ bụng, tiểu khung, gan, mật, thận... | Chi phí : 250.000 vnđ ">
                  <img src="/assets/img/information.png" data-placement="right" class="info-icon" data-toggle="tooltip"
                    title="Xác định được vị trí tổn thương vào thùy hoặc phân thùy hay dấu hiệu nghi ngờ các bệnh bệnh ở phổi, lồng ngực hay phế quản | Chi phí : 175.000 vnđ">
                </div>

                <div class="col-md-6 mb-3">
                  <label for="validationDefault01">Mô tả triệu chứng</label>
                  <textarea class="form-control height8" aria-label="Mô tả"></textarea>
                </div>

              </div>


            </div>

            <div class="line_20"> </div>
            <div class="form-row mar-left-05 al_r">
              <div class="col-md-12 mb-4 font117">
                <label for="validationDefault03">Chi phí dự tính : 123,000 vnđ</label>
              </div>
            </div>



            <div class="col-md-12 mb-3 al_r">

              <button class="btn btn-light" type="button">Hủy bỏ</button>

              <button class="btn btn-success mar-left-05" type="submit">Đăng ký</button>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>