<nav id="sidebar" style="height: auto !important;">
           
  <div id="sidebar-cover">
      <div class="sidebar-header">
              <a href=""><h3>Health care</h3></a> 
      </div>

      <ul class="list-unstyled components">
        <li>
          <a class="nav-item active" routerLink="">Quản lý Giáo viên</a>
      </li>
      <li>
          <a class="nav-item active" routerLink="/medicalFiles">Quản lý Hồ sơ khám bệnh</a>
      </li>
      <li>
          <a class="nav-item active" routerLink="/request">Quản lý lịch hẹn khám</a>
      </li>
      <li>
          <a class="nav-item active" routerLink="">Thống kê báo cáo</a>
      </li>
    </ul>

      <ul class="list-unstyled CTAs">
        <div>
            <img src="/assets/img/LogoTLU.png" class="container-fluid mb-3 mt--2">
         </div>
          <li>
              <a href="#" class="download">Trợ giúp</a>
          </li>
          <li>
              <a href="#" class="article">Đội ngũ thiết kế</a>
          </li>
      </ul>
  </div>
  </nav>
