<div id="content">
  <div class="section-view">
    <div class="card-body card">
      <form [formGroup]="userForm" (submit)="onSubmit()" >
        <p style="color: red;"></p>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault01">Họ và tên</label>

            <input type="text" name="name" class="form-control" formControlName="name"  placeholder="Họ và tên">
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Mã giáo viên</label>
            <input type="text" name="id" class="form-control" formControlName="code"
              placeholder="G00000">
          </div>
        </div>
        <div class="form-row">
          <!--    Set gender for user    -->
          <div class="col-md-3 mb-3">
            <label for="inputState">Giới tính</label>
            <select id="inputState" class="form-control" formControlName="gender">
              <option value="Nam" selected>Nam</option>
              <option value="Nữ	">Nữ</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationDefault03">Ngày sinh</label>
            <input type="date" class="form-control" id="validationDefault02" formControlName="birthday" placeholder="YYYY-MM-DD"
              required title="Enter a date in this format YYYY-MM-DD" min="1988-01-01" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault03">Số điện thoại</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-4 mr-2">
            <label >Bộ môn chuyên ngành : </label>
            <select id="inputState" class="form-control" formControlName="id_bomon">
              <option *ngFor="let bomon of bo_mons" value="{{bomon.id}}"  >{{bomon.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <!--    Set role for user    -->
          <div class="col-md-3 mb-3">
            <label for="inputState">Đội ngũ</label>
            <select id="inputState" class="form-control" name="role" formControlName="role">
              <option *ngFor="let role of roles" value="{{role.value}}">{{role.name}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3 text-thongbao">
            * Ban giám hiệu : Có thêm chức năng xem Thống kê báo cáo sức khỏe của Hệ thống.
          </div>
        </div>
        <div class="d-flex flex-row-reverse ">
        <button class="btn btn-default" type="button" routerLink="">Hủy bỏ</button>
        <button class="btn btn-primary mx-2" type="submit">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>